
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    background-color: #DDD;
    height: 100dvb;
}

.img {
    width: 200px;
}

button{
    padding: 4px 8px;
    border-radius: 5px;
    border: solid 1px rgb(0, 0 , 0,0.4);
    background-color: white;
    cursor: pointer;
    margin: 10px;
}

.textoFrase{
    font-style: italic; 
    color: #dd7b22;
    text-align: center;
}